* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(243, 243, 243, 1);
}
.content-wrapper {
	margin: 10px;
}
.content-wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.content-left {
	float: left;
}
.content-right {
	float: right;
}

.speaking-l {
	background-color: rgba(255, 255, 255,1);
    padding: 5px 6px 5px 7px;
    border-radius: 13px;
    float: left;
}

.speaking-r {
	background-color: rgba(131, 242, 86,1);
    padding: 5px 6px 5px 7px;
    border-radius: 13px;
    float: left;
}

.speaking-user-l {
	display: inline-block;
    margin: 5px 5px 10px 5px;
    float: left;
}

.speaking-user-r {
	display: inline-block;
    margin: 5px 5px 10px 5px;
}
